@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "button-dark";


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(78, 78, 78);
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, rgba(24, 24, 24, 1) 50%, rgba(20, 20, 20, 1) 50%);
    transition: 0.5s;
}

.body-light {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(245, 245, 245, 1) 50%);

    h1 {
        color: black !important;
    }

    .footer-item {
        filter: contrast(0);
    }

    .footer-right-side {
        h1 {
            border-color: black !important;
        }

        ul {

            li {
                filter: contrast(0);
            }
        }
    }

    .footer-box {
        background: #f5f5f5 !important;
        border: 1px solid white !important;
        color: #606060 !important;
    }

    .footer-end,
    .footer-end-social {
        background: #cccccc;

        img {
            filter: contrast(0);
            transition: all .3s;

            &:hover {
                filter: contrast(.5);
            }
        }

        p {
            color: #606060;

            span {
                color: white;
            }
        }
    }

    .wwa-texts {
        background: #f5f5f5;

        p {
            color: black !important;
            font-weight: 300 !important;
        }
    }
}

.bg-transparent {
    background: transparent;
}

.slider-section {
    margin-top: -155px;

    .slider-img-texts {
        position: absolute;
        bottom: 0;
        height: 134px;
        width: 100%;

        .slider-text {
            position: absolute;
            bottom: 100%;
            left: 6%;
            width: 100%;
            height: 40px;
            font-size: 64px;


            color: #e7e7e7;

            span {
                font-weight: bolder;
            }

            @media screen and (max-width: 1450px) {
                & {
                    bottom: 80%;
                    font-size: 35px;
                }
            }

            @media screen and (max-width: 940px) {
                & {
                    bottom: 65%;
                    font-size: 20px;
                }
            }
        }

        .slider-sub-text {
            position: absolute;
            bottom: 15%;
            left: 7%;
            font-size: 32px;
            width: 500px;
            height: 70px;


            background: #e7e7e7;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 1450px) {
                & {
                    font-size: 25px;
                }
            }

            @media screen and (max-width: 940px) {
                & {
                    bottom: 45%;
                    font-size: 17px;
                    left: 6.5%;
                    width: 90%;
                    height: 40px;
                    max-width: 400px;
                }
            }
        }

        .slider-sub-text-right {
            position: absolute;
            bottom: 15%;
            right: 3%;
            width: 330px;
            height: 90px;
            font-size: 32px;

            color: #e7e7e7;
            background-image: url("../img/tv-series-bg.png");
            background-size: cover;

            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-weight: bolder;
            }

            @media screen and (max-width: 1450px) {
                & {
                    font-size: 25px;
                }
            }

            @media screen and (max-width: 940px) {
                & {
                    bottom: 10%;
                    font-size: 17px;
                    left: 6%;
                    height: 40px;
                    width: 90%;
                    max-width: 400px;
                }
            }
        }

    }


    .slider-img {
        background-image: url(../img/slide.png);
        height: 104vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;



        @media screen and (max-width: 992px) {
            & {
                height: 114vh;
            }
        }
    }

    .carousel-buttons-wrapper {
        position: relative;
        height: 80px;

        .carousel-control-geri {
            position: absolute;
            top: 50%;
            right: 100%;
        }

        .carousel-control-paylas {
            position: absolute;
            top: 0%;
        }

        .carousel-control-ileri {
            position: absolute;
            top: 100%;
            right: 0%;
        }
    }

    .carousel-control-geri {
        width: 55px;
        opacity: .7;
        transition: all .3s;
        z-index: 1;

        &:hover {
            opacity: 1;
        }
    }

    .carousel-control-ileri {
        position: absolute;
        width: 55px;
        opacity: .7;
        transition: all .3s;
        transform: rotate(180deg);

        &:hover {
            opacity: 1;
        }
    }

    .carousel-wrapper {
        position: absolute;
        width: 55px;
        opacity: .7;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        @media screen and (max-width: 992px) {
            & {
                top: 47.15%;
            }
        }

        @media screen and (max-width: 500px) {
            & {
                top: 48.15%;
            }
        }

        @media screen and (max-width: 450px) {
            & {
                top: 45.15%;
            }
        }

        @media screen and (max-width: 400px) {
            & {
                top: 44.15%;
            }
        }

        @media screen and (max-width: 350px) {
            & {
                top: 43.15%;

            }

            .carousel-menu img {
                margin-bottom: -10px;
            }
        }



        @media screen and (max-height: 800px) {
            & {
                top: 42.15%;
            }
        }

        @media screen and (max-height: 750px) {
            & {
                top: 43.15%;
            }
        }

        @media screen and (max-height: 700px) {
            & {
                top: 40.15%;
            }
        }

        @media screen and (max-height: 650px) {
            & {
                top: 39.15%;
            }
        }

        @media screen and (max-height: 600px) {
            & {
                top: 37.15%;
            }
        }
    }

    .carousel-control-prev-icon {
        background-image: url("../img/slide-arrow.png");
        width: 50px;
        height: 50px;
    }

    .carousel-control-next-icon {
        background-image: url("../img/slide-arrow.png");
        transform: rotate(180deg);
        width: 50px;
        height: 50px;

    }

    a {
        z-index: 0;
    }
}

.navbar {
    z-index: 1;
    padding: 0;


    &-brand {
        padding-left: 45px;

        @media screen and (max-width: 992px) {
            & {
                padding-left: 19px;
                width: 50%;
            }
        }
    }

    .navbar-collapse {

        .navbar-nav {

            .nav-item {

                a {
                    min-width: 120px;
                    height: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .3s;

                    &:hover {
                        background: #00000086;
                    }
                }

                a {
                    color: white;
                    text-transform: uppercase;
                    font-weight: 500;
                }

                .dropdown {
                    &-menu {
                        background: rgba(0, 0, 0, 0.336);
                        margin: 0;
                        padding: 12.5px 0;
                        border: 0;
                        border-radius: 0;

                        .dropdown-item {
                            min-width: auto;
                            height: auto;
                            justify-content: flex-start;
                            padding: 12.5px 25px;
                        }
                    }

                    button {
                        background-color: transparent;
                        border: 0;
                        min-width: 120px;
                        height: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all .3s;
                        border-radius: 0;
                        font-weight: 500;

                        &:focus {
                            background: #00000086;
                        }
                    }
                }
            }
        }
    }
}

.services-section {
    .heading {
        h1 {
            font-size: 44px;
            margin-top: 100px;
            margin-bottom: 35px;
            text-align: center;
            color: #e7e7e7;
            background-image: url(../img/services-border.png);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: bottom;
            padding-bottom: 5px;
            font-weight: 200;
        }

    }

    .series {

        &-img {
            max-width: 400px;
            height: 510px;
            object-fit: cover;
            z-index: 1;
            position: relative;
            transition: all .3s;

            &:hover {
                scale: 1.01;

                .series-img-sub-text {
                    color: White;
                }
            }

            &-text {
                position: absolute;
                bottom: 9%;
                right: 0;
                left: 0;
                text-align: center;
                font-size: 36px;
                color: white;
                font-weight: 200;

                @media screen and (max-width: 992px) {
                    & {
                        font-size: 30px;
                    }
                }
            }

            &-sub-text {
                position: absolute;
                bottom: 2%;
                right: 0;
                left: 0;
                text-align: center;
                font-size: 36px;
                font-weight: bolder;
                color: #b1b1b1;

                @media screen and (max-width: 992px) {
                    & {
                        font-size: 30px;
                    }
                }
            }
        }

        &-img-1 {
            background-image: url("../img/series-1.png");

        }

        &-img-2 {
            background-image: url("../img/series-2.png");
        }

        &-img-3 {
            background-image: url("../img/series-3.png");
        }

        &-img-4 {
            background-image: url("../img/series-4.png");
        }

        &-img-5 {
            background-image: url("../img/series-5.png");
        }





        &-border {
            background: url(../img/series-border.png), #000000ab;
            max-width: 400px;
            height: 510px;
            object-fit: cover;
            z-index: 2;
            transition: all .3s;

            &:hover {
                background: url(../img/series-border.png), #00000000;
            }
        }
    }
}

.who-we-are-section {
    margin-bottom: 100px;
    background: #141414;

    .wwa-heading {
        text-align: center;
        margin-left: 85px;

        @media screen and (max-width: 1500px) {
            & {

                margin: 0 auto;
            }
        }
    }

    .wwa-texts {
        h1 {
            font-size: 44px;
            font-weight: 200;
            color: #e7e7e7;

            @media screen and (max-width: 992px) {
                & {
                    font-size: 30px;
                }
            }

            span {
                font-weight: bolder;
            }
        }

        p {
            font-weight: 100;
            color: #e7e7e7;
            letter-spacing: 0.7px;
            text-align: justify;
            max-width: 565px;
            margin: 0 70px 0 auto;
            line-height: 40px;
            font-size: 23px;

            @media screen and (max-width: 992px) {
                & {
                    font-size: 16px;
                    margin: 0 auto;

                    line-height: 20px;
                    max-width: 75%;
                }
            }
        }
    }

    .wwa-img {
        background: url("../img/wwa-img.png"), #00000057;
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (max-width: 992px) {
            & {
                height: 300px;
                background-position-y: center;
            }
        }
    }
}

.footer-section {
    .footer-end {
        color: white;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 40px 0;
        font-weight: 200;
        text-align: center;

        @media screen and (max-width: 992px) {
            & {

                justify-content: center;
                font-size: 18px;
            }
        }

        &-container {

            background: black;
        }

        &-social {

            @media screen and (max-width: 992px) {
                & {
                    margin-bottom: 30px;
                }
            }

            a {

                img {
                    margin-right: 15px;
                    transition: all .3s;

                    &:hover {
                        filter: contrast(0.5);
                    }
                }
            }
        }
    }

    .footer-box {
        color: #494747;
        border: 1px solid #272525;
        padding: 10px 15px;
        font-weight: 500;
        background: #181818;
        width: auto;
        margin: 0 auto;
        font-size: 20px;
        margin-bottom: 50px;

        @media screen and (max-width: 992px) {
            & {
                font-size: 16px;
                margin-top: 50px;
            }
        }
    }

    .footer-item {
        padding-left: 15px;
        margin-bottom: 60px;

        .footer-item-icon {}

        .footer-item-text {
            color: #e7e7e7;
            line-height: 34px;
            margin-left: 10px;
            font-size: 20px;
            font-weight: 300;
            width: 100%;

            @media screen and (max-width: 992px) {
                & {
                    font-size: 15px;
                }
            }

            a {
                color: #e7e7e7;
                text-decoration: none;
            }
        }

        &:first-child {
            border-left: 2px solid #e7e7e7;
        }
    }

    .footer-right-side {

        h1 {
            color: #484646;
            margin-bottom: 20px;
            font-size: 20px;
            border-left: 2px solid #e7e7e7;
            padding-left: 7px;
            height: 30px;
            align-items: end;
            display: flex;

            @media screen and (max-width: 992px) {
                & {
                    font-size: 18px;
                }
            }
        }

        ul {

            li {
                margin-bottom: 20px;

                a {
                    color: #e7e7e7;
                    font-size: 15px;
                    text-decoration: none;
                    font-weight: 300;
                    transition: all .3s;

                    &:hover {
                        padding-left: 3px;
                    }

                    &::before {
                        content: "- ";
                    }
                }



            }
        }
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        margin-top: -50px;
        padding: 0px 20px;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler {
        border: 0;
        margin-right: 15px;

        &:focus {
            box-shadow: 0 0 0 0;
        }
    }

    .navbar-toggler.collapsed~.navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    .navbar-toggler-icon {
        background: url("../img/hamburger.png");
        background-size: cover;
        background-position: center;

    }

    .navbar .navbar-collapse .navbar-nav li .nav-link {
        padding: 15px;
        width: auto;
        height: auto;
        justify-content: flex-start;
    }

    .acilir-menu {
        width: 100% !important;
        height: auto !important;
        justify-content: flex-start !important;
        padding: 10px 15px !important;
    }
}


.slick-slider {
    .item {
        height: 104vh;

        @media screen and (max-width: 992px) {
            & {
                height: 110vh;
            }
        }
    }

}

.swipe-button {
    min-width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
        & {
            display: block;
            height: auto;
            width: auto;
            padding: 15px;
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    &:hover {
        .dropdown-content {
            display: block;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

.carousel-wrapper {
    position: absolute;
    right: 3%;
    top: 46.15%;
    width: 55px;
}

.carousel-wrapper-container {
    position: relative;
}

.carousel-menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 999;
}

.carousel-menu.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.carousel-menu img {
    margin-bottom: 10px;
    width: 100px;
    height: auto;
}


